
<div class="container mx-auto p-6 text-gray-900">
  <div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-4 text-center"><%= game ? 'Edit Game' : 'Add a New Game' %></h1>
    <form action="<%= game ? `/edit-game/${game.id}` : '/add-game' %>" method="POST" class="space-y-4" enctype="multipart/form-data">

      <!-- Title Field -->
      <div>
        <label for="title" class="block text-sm font-medium text-gray-700">Title:</label>
        <input type="text" id="title" name="title" value="<%= game ? game.title : '' %>" class="mt-1 px-4 py-2 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
      </div>

      <!-- Release Date Field -->
      <div>
        <label for="release_date" class="block text-sm font-medium text-gray-700">Release Date:</label>
        <input type="date" id="release_date" name="release_date" value="<%= game ? game.release_date : '' %>" class="mt-1 px-4 py-2 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
      </div>

      <!-- Genre Field -->
      <div>
        <label for="genre" class="block text-sm font-medium text-gray-700">Genre:</label>
        <input type="text" id="genre" name="genre" value="<%= game ? game.genre : '' %>" class="mt-1 px-4 py-2 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
      </div>

      <!-- Description Field -->
      <div>
        <label for="description" class="block text-sm font-medium text-gray-700">Description:</label>
        <textarea id="description" name="description" class="mt-1 px-4 py-2 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"><%= game ? game.description : '' %></textarea>
      </div>

      <!-- Image Field -->
      <div>
        <label for="image" class="block text-sm font-medium text-gray-700">Image:</label>
        <input type="file" id="image" name="image" class="mt-1 px-4 py-2 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
      </div>

      <!-- Submit Button -->
      <div>
        <button type="submit" class="px-4 py-2 bg-indigo-600 text-white font-semibold rounded-md shadow-sm hover:bg-indigo-700 w-full">
          <%= game ? 'Update Game' : 'Add Game' %>
        </button>
      </div>
    </form>
  </div>
</div>

